.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face {
    font-family: 'Wine Date';
    font-style: normal;
    font-weight: 400;
    src: local('Wine Date'), local('WineDate'),
    url('./fonts/WineDate-Regular.otf') format('otf'),
    url('./fonts/WineDate-Regular.ttf') format('truetype')
}
